<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-between">
  <a class="navbar-brand" href="/">
    <img src="assets/images/brand.png" width="35" height="35" class="d-inline-block align-top" alt="Logo">
  </a>
  
  <form class="form-inline">
    <div class="input-group">
      <span class="input-group-addon" style="background-color: #fff" id="basic-addon1"><img src="assets/images/icon_search.png" width="20"/></span>
      <input id="searchInput" [(ngModel)]="search.input" name="input" (ngModelChange)="getFindPosition()" type="text" class="form-control form-control-lg" size="30" placeholder="Essayer &laquo; Mulhouse &raquo;" />
    </div>
  </form>
  
  <div class="navbar-collapse collapse justify-content-between" id="collapsingNavbar2">
    <div class="mr-auto"><!--placeholder to evenly space flexbox items and center links--></div>
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link text-success" href="#">Organisateur</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/courses" href="#">Courses</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Résultats</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Aide</a>
      </li>
    </ul>
  </div>
</nav>

<div class="bg-light border border-muted border-right-0 border-left-0 w-100 pt-2 pb-2 pl-5">
  <form class="form-inline align-middle">
    <div>
      <button *ngIf="!(search.types.trail || search.types.cross || search.types.route || search.types.bikeandrun)" id="filter-type" type="submit" class="btn btn-outline-primary p-0 pl-3 pr-3 ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type</button>
      <button *ngIf="search.types.trail || search.types.cross || search.types.route || search.types.bikeandrun" id="filter-type" type="submit" class="btn btn-primary p-0 pl-3 pr-3 ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span *ngIf="search.types.trail">Trail</span>
        <span *ngIf="search.types.cross">Cross</span>
        <span *ngIf="search.types.route">Route</span>
        <span *ngIf="search.types.bikeandrun">B&amp;R</span>
      </button>
      <div id="dropdown-filter-type" class="dropdown-menu" aria-labelledby="filter-type">
        <h6 class="dropdown-header">Type de course</h6>
          <div class="form-check dropdown-item">
            <mat-checkbox name="checkbox-trail" [(ngModel)]="search.types.trail" align="start">Trail</mat-checkbox>
          </div>
          <div class="form-check dropdown-item">
              <mat-checkbox name="checkbox-cross" [(ngModel)]="search.types.cross" align="start">Cross</mat-checkbox>
          </div>
          <div class="form-check dropdown-item">
              <mat-checkbox name="checkbox-route" [(ngModel)]="search.types.route" align="start">Route</mat-checkbox>
          </div>
          <div class="form-check dropdown-item">
              <mat-checkbox name="checkbox-bikeandrun" [(ngModel)]="search.types.bikeandrun" align="start">Bike &amp; Run</mat-checkbox>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary px-0" (click)="cleanTypeFilter()">Effacer</button>
              <button type="button" class="btn btn-primary px-0" (click)="refrechSearch()">Appliquer</button>
            </div>
      </div>
    </div>
    <div>
      <button *ngIf="search.start_date == null && search.end_date == null" id="filter-date" type="submit" class="btn btn-outline-primary p-0 pl-3 pr-3 ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dates</button>
      <button *ngIf="search.start_date != null || search.end_date != null" id="filter-date2" type="submit" class="btn btn-primary p-0 pl-3 pr-3 ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dates <span *ngIf="search.start_date != null">{{ search.start_date | date: "dd/MM"}}</span><span *ngIf="search.start_date != null && search.end_date != null"> - </span><span *ngIf="search.end_date != null">{{ search.end_date | date: "dd/MM"}}</span>
      </button>
      <div class="dropdown-menu">
        <div class="row">
          <div class="col">
            <div class="card border-0">
              <div class="card-body">
                <h5 class="card-title">Start Date</h5>
                <mat-form-field>
                  <input matInput [matDatepicker]="startDatePicker" placeholder="Choose a date" name="start_date" [(ngModel)]="search.start_date">
                  <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0">
              <div class="card-body">
                <h5 class="card-title">End Date</h5>
                <mat-form-field>
                  <input matInput [matDatepicker]="endDatePicker" placeholder="Choose a date" name="end_date" [(ngModel)]="search.end_date">
                  <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary px-0" (click)="cleanDateFilter()">Effacer</button>
          <button type="button" class="btn btn-primary px-0" (click)="refrechSearch()">Appliquer</button>
        </div>
      </div>
    </div>
    <div>
      <button *ngIf="search.distance.max != search.distance.value" id="filter-distance" type="submit" class="btn btn-primary p-0 pl-3 pr-3 ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Distance: Max {{search.distance.value}}</button>
      <button *ngIf="search.distance.max == search.distance.value" id="filter-distance" type="submit" class="btn btn-outline-primary p-0 pl-3 pr-3 ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Distance</button>
      <div class="dropdown-menu">
          <h6 class="dropdown-header">Distance</h6>
          <div class="px-5">
              <mat-slider name="distance-filter" [min]="search.distance.min" [max]="search.distance.max" [step]="search.distance.step" [(ngModel)]="search.distance.value" thumb-label="true"></mat-slider>       
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary px-0" (click)="cleanDistanceFilter()">Effacer</button>
            <button type="button" class="btn btn-primary px-0" (click)="refrechSearch()">Appliquer</button>
          </div>
      </div>
    </div>    
    <!--div>
        <button type="submit" class="btn btn-outline-primary p-0 pl-3 pr-3 ml-3">Prix</button>
    </div-->
  </form>
</div>

<div class="container-fluid">
  <div class="row">
  <div class="col-xs-12 col-lg-8">
  <h2>Les Courses</h2>
    <div class="row">
      <div class="col-3 col-lg-3" *ngFor="let epreuve of epreuves">
        <div class="card mb-2 border-0" style="width: 20rem;">
		  <img class="card-img-top" src="assets/images/cover/running{{epreuve.random}}.jpg" alt="Card image cap">
          <div class="card-body pl-1 pt-0 pb-2">
            <p class="m-0 p-0"><small>{{ epreuve.start_date | date :  "dd/MM/y" }}</small></p>
            <h6 class="card-title m-0 p-0"><a routerLink="/courses/{{epreuve._id}}">{{ epreuve.title }} / {{ epreuve.distance }} km</a></h6>
            <p class="card-text p-0"><small>{{ epreuve.commune }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-none d-sm-block col-lg-4">
    <div class="row w-100">
      <div class="col col-lg-12">
        <agm-map [latitude]="search.lat" [longitude]="search.long" [zoom]="search.zoom" [usePanning]="false" (zoomChange)="updateZoom($event)" (centerChange)="updateSearch($event)" (idle)="mapDragEnd()">
          <agm-marker *ngFor="let data of markers" [latitude]="data.lat" [longitude]="data.lng">
            <agm-info-window>
              <strong>{{data.title}}</strong>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>
</div>


