<div class="fixed-top">
    <nav class="navbar navbar-light navbar-expand-md bg-light justify-content-between">
        <a class="navbar-brand" href="/">
            <img src="assets/images/brand.png" width="35" height="35" class="d-inline-block align-top" alt="Logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="form-inline">
            <div class="input-group">
                <span class="input-group-addon form_addon_border border-right-0 pl-2 pt-2" style="background-color: #fff;" id="basic-addon1">
                <img src="assets/images/icon_search.png" width="30"/>
                </span>
                <!-- (ngModelChange)="getFindPosition()" -->
                <input id="searchInput" [(ngModel)]="search.input" name="input" type="text" class="form-control form-control-lg border-left-0" size="30" placeholder="Essayer &laquo; Mulhouse &raquo;" />
            </div>
        </form>

        <div class="navbar-collapse collapse justify-content-between" id="collapsingNavbar2">
            <div class="mr-auto"><!--placeholder to evenly space flexbox items and center links--></div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-success" href="#">Organisateur</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/courses" href="#">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Résultats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Aide</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container margin-menu-height-sm margin-menu-height">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col">
                    <span class="text-primary"><strong>{{ epreuve.type }}</strong></span>
                    <h2>{{ epreuve.name }} <small>({{ epreuve.start_date | date :  "dd/MM/y" }})</small></h2>
                    <h5 class="text-secondary">{{ epreuve.commune }} </h5>    
                </div>
            </div>            
            <div class="row mb-3">
                <div class="col">
                    <hr/>
                    <span *ngIf="epreuve === undefined || epreuve.description === undefined">Pas de description de disponible.</span>
                    <span *ngIf="epreuve !== undefined && epreuve.description !== undefined">{{ epreuve.description }}</span>
                    <!--p class="my-0">Lieu de départ: {{ epreuve.place_depart }} </p>
                    <p class="my-0">Heure de départ: {{ epreuve.hour_depart }} </p-->
                </div>
            </div>
            <div class="row mb-3">
                    <div class="col">
                        <p class="h5">Distance</p>
                        <hr/>
                        {{ epreuve.distance }} km
                    </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <p class="h5">Max Inscription</p>
                    <hr/>
                    {{ epreuve.maxinscription }} personnes
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <p class="h5">Récompense</p>
                    <hr/>
                    {{ epreuve.recompense }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <p class="h5">Service</p>
                    <hr/>
                    {{ epreuve.service }}
                </div>
            </div>
            <div class="row" *ngIf="epreuve !== undefined && epreuve.epreuves !== undefined">
                <div class="col mb-2">
                    <p class="h5" *ngIf="epreuve.epreuves.length == 1">Autre épreuve liée à cet événement</p>
                    <p class="h5" *ngIf="epreuve.epreuves.length > 1">Autres épreuves liées à cet événement</p>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-4" *ngFor="let linkepreuve of epreuve.epreuves">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ linkepreuve.name }}</h5>
                                    <p class="card-text">Distance {{ linkepreuve.distance }} km</p>
                                    <a href="/courses/{{linkepreuve._id}}" class="btn btn-outline-primary">Explorer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="card bg-dark mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-white">Inscription</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item mx-0 px-0">
                        <ul class="list-group" *ngIf="epreuve !== undefined && epreuve.prices !== undefined && epreuve.prices.length > 1">
                            <li class="list-group-item border-0" *ngFor="let price of epreuve.prices">
                                <span *ngIf="price.type == 'all'">Prix: {{ price.prix }} € </span>
                                <span *ngIf="price.type == 'licence'">Prix FFA: {{ price.prix }} €</span>
                                <span *ngIf="price.type == 'all_day'">Prix: {{ price.prix }} € (sur place)</span>
                                <span *ngIf="price.type == 'licence_day'">Prix FFA: {{ price.prix }} € (sur place)</span>
                            </li>
                        </ul>
                        <ul class="list-group" *ngIf="epreuve === undefined || epreuve.prices === undefined || epreuve.prices.length == 0">
                            <li class="list-group-item border-0">
                                <span>Prix: N/C</span>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item"><button class="btn btn-success my-2 my-sm-0" type="submit">Inscription</button></li>
                    <li class="list-group-item"><span class="text-dark">Poser votre question</span></li>
                    <li class="list-group-item"><a href="{{ epreuve.urlid }}" class="card-link text-dark">Site partenaire</a></li>
                    <li class="list-group-item" *ngIf="epreuve.url_club"><a href="{{ epreuve.url_club }}" target="_blank" class="card-link text-dark">Site de l'épreuve</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>